{%  extends 'account/index.html' %}

{% block content %}

<br>
<h3> My Availabilities</h3>
<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="col-lg-12" style="margin: 0; padding: 0;">
            <div class="card card-body">
                <form method="get">
                    {{myFilter.form}}

                    <button class="btn" style='background: #484f4f; color: white;' type="submit">Search</button>
                </form>
            </div>
        </div><br>
        <div class="col-lg-9 align-self-center" style="margin: 0; padding: 0;">
            <button class="btn" style='margin: auto; background: #563f46;'>
                <a class="nav-link" style="color: white" href="{% url 'shiftavailability'%}">Add Shift</a>
            </button>
        </div>
    </div>
</div> 
<br>

<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="card card-body">
            <div style="overflow: auto; height: 45vh;">
                {% if availability_date_list|length > 0 %}
                    {% for d in availability_date_list %}
                        <table class="table table-sm">
                            <tr>
                                <th>{{d|date:"D, j M Y"}}</th>
                            </tr>
                            <table class="table">
                                <tr>
                                    <th>Shift</th>
                                    <th>Rank</th>
                                    <th></th>
                                    <th></th>
                                </tr>

                                {% for i in availability_list %}
                                {% if i.date == d %}
                                    <tr>
                                        <td>{{i.shift}}</td>
                                        <td>{{i.rank}}</td>
                                        <td><a class="btn btn-sm" style='background: #588c7e; color: white;' href="{% url 'update_availability' i.id %}">Update</a></li></td>
                                        <td><a class="btn btn-sm" style='background: #d96459; color: white;' href="{% url 'delete_availability' i.id %}">Delete</a></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </table>
                    {% endfor %}
                {% else %}
                    <p>No shift availabilites added yet</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}