{%  extends 'account/index.html' %}
{% block content %}

<br>

<h3>All Schedules</h3>
<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}

                <button class="btn" style='background: #484f4f; color: white;' type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>

<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="card card-body">
            <div style="overflow: auto; height: 55vh;">
                {% if schedule_date_list|length > 0 %}
                    {% for d in schedule_date_list %}
                        <table class="table">
                            <tr>
                                <th>{{d|date:"D, j M Y"}}</th>
                            </tr>
                            <table class="table">
                                <tr>
                                    <th>Shift</th>
                                    <th>Employee on Shift</th>
                                </tr>

                                {% for i in schedule %}
                                {% if i.date == d %}
                                    <tr>
                                        <td>{{i.shift}}</td>
                                        <td>{{i.employee}}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </table>
                    {% endfor %}
                {% else %}
                        <p>No Schedule available yet</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}